# Node dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/dist
/build
/lib
/coverage
/tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.*.local

# Jest cache
/jest-cache
/jest-coverage

# Typescript
*.tsbuildinfo

# Optional npm cache directory
.npm

# MacOS
.DS_Store

# Linux
*~

# VSCode files
.history/

# Custom
/.coverage